pymongo==4.15.5
langchain==0.3.27
langchain-aws==0.2.35
langchain-google-genai==2.1.12
langchain-openai==0.3.35
langchain-voyageai==0.2.0
langgraph==0.6.11
langgraph-checkpoint-mongodb==0.2.2
langgraph-store-mongodb==0.1.1
tiktoken==0.12.0
voyageai==0.3.7
tqdm==4.67.3
Pillow==12.1.1
ipywidgets==8.1.5
